extends layout

block content
  style.

    @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300;400&display=swap');
      h1 {
        font-family: 'Gochi Hand', cursive;
        color: #075d37;
        text-align: center;
        padding-top: 2rem;
        text-decoration:underline;
      }
      body {
        background-color: #f2f2f2; /* Cor de fundo */
        color: #333; /* Cor do texto */
        font-family: 'Arial', sans-serif; /* Fonte do texto */
      }
      li.sumario {
        font-family: 'Poppins', serif;
        padding-left: 2rem;
        padding-top: 0.5rem;
        font-weight: bold;
        align-self: center;
        margin: 0 auto; 
        background-color: #ffff; /* Cor de fundo */
        width: 40%;
      }
      
      ul.box {
      background-color: #ffff; /* Cor de fundo */
      border-radius:20px;
      width:50%;
      box-shadow: 3px 3px 4px grey;
      align-self: center;
      margin: 0 auto;
    }
    li {
          padding:5px;
        }

  h1= title
  ul(class='box')
    each author in author_list
      li
        a(href=author.url) #{author.name}
        |  (#{author.lifespan})

    else
      li Não á autores.