extends layout

block content
  style.
    @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300;400&display=swap');
    h1 {
      font-family: 'Gochi Hand', cursive;
      color: #075d37;
      text-align: center;
      padding-top: 2rem;
    }
    .container {
      text-align: center;
      font-family: 'Poppins', serif;
    }
    label {
      font-family: 'Poppins', serif;
      color: #075d37;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .btn.btn-primary {
      text-decoration: none;
      background-color: #A5C1A6;
      color: white;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      font-family: 'Poppins', serif;
      margin: 0 auto;
      text-align: center;
    }
    .btn.btn-primary:hover {
      background-color: #075d37;
      color: white;
    }
    .form-control {
      border-radius: 10px;
      font-family: 'Poppins', serif;
      width: 20%;
      margin: 0 auto;
      text-align: center;
    }
    .btn {
      display: flex;
    }
    li {
      padding:5px;
    }

  h1=title
  form(method='POST' action='')
    div.form-group
      label(for='book') Livro:
      select#book.form-control(type='select', placeholder='Escolha um livro' name='book' required='true' )
        - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for book in book_list
          option(value=book._id, selected=(selected_book==book._id.toString() ? 'selected' : false) ) #{book.title}
    div.form-group
      label(for='imprint') Editora:
      input#imprint.form-control(type='text', placeholder='Informações de editor e data' name='imprint' required='true' value=(undefined===bookinstance ? '' : bookinstance.imprint) )
    div.form-group
      label(for='due_back') Data de desponibilidade do livro:
      input#due_back.form-control(type='date', name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_yyyy_mm_dd))
    div.form-group
      label(for='status') Dados:
      select#status.form-control(type='select', placeholder='Select status' name='status' required='true' )
        option(value='Maintenance' selected=(undefined===bookinstance || bookinstance.status!='Maintenance' ? false:'selected')) Manutenção
        option(value='Available' selected=(undefined===bookinstance || bookinstance.status!='Available' ? false:'selected')) Disponível
        option(value='Loaned' selected=(undefined===bookinstance || bookinstance.status!='Loaned' ? false:'selected')) Emprestado
        option(value='Reserved' selected=(undefined===bookinstance || bookinstance.status!='Reserved' ? false:'selected')) Reservado
    button.btn.btn-primary(type='submit') Enviar
  if errors
    ul
      for error in errors
        li!= error.msg